/***** CSS PARA EL CONVERSOR DE CRIPTOMONEDAS *****/

*{
    margin: 0;
    padding: 0;
}

header img{
    max-width: 300px;
}

.encabezado{
    display: flex;
    width: 100%;
    background-color: black;
    align-items: center;
    justify-content: center;

    
}

.encabezado h1{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
}

.textosPrincipales{
    text-align: center;
    padding: 10px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(240, 240, 240);
    width: 100%;
}

.textosPrincipales h2{
    padding: 10px;
}

.textosPrincipales p{
    padding: 10px;
}

.formulario{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.formulario label{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 10px;
    text-align: center;
}

.criptos{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
}

#cantidadDolar{
    padding: 5px;
    border: 2px solid rgb(61, 61, 61);
    font-size: 18px;
}

#calcular{
    padding: 10px;
    margin: 5px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border: 2px solid rgb(0, 0, 0);
    background-color: #f8931f;
}

footer{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footerUno{
    background-color: rgb(0, 0, 0);
}

.footerUno img{
    max-width: 300px;
}

.footerDos{
    padding: 8px;
    background-color: #d3d3d3;
    color: rgb(10, 10, 10);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

/***** CSS PARA EL CONVERSOR DE CRIPTOMONEDAS "RESPONSIVE" *****/

@media only screen and (max-width: 650px) {
    .encabezado{
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    .encabezado h1{
        padding: 5px;
        font-size: 35px;
    }

    .textosPrincipales{
        font-size: 20px;
    }
}

@media only screen and (min-width: 605px) and (max-width: 1050px) {
    .encabezado{
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

}
